/* Global styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Pet List */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.pets-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.img-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary,
a {
  display: inline-block;
  margin: 20px auto;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #FFC107;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.btn-primary:hover,
a:hover {
  background-color: #FFD54F;
}

/* Add/Edit Pet */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.text-danger {
  color: red;
}

.btn-primary {
  display: inline-block;
  margin: 20px auto;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #FFC107;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #FFD54F;
}

#container {
  align-items: center;
  text-align: center;
  animation: fade-in 1s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  background-color: #fff;
  color: #333;
}
